body {
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
}

html {
    box-sizing: border-box;
}

.menu {
    width: 100%;
    padding: 15px 0 0 0;
    list-style: none;
    background: #111;
    text-align: center;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
    display: inline-block;
}

.menu li {
    display: inline-block;
    width: 30%;
    padding: auto;
    padding: 0 0 10px 0;
    /* position: relative; */
}

ul {
    width: 500px;
    padding: 0 0 10px 0;
    position: relative;
}

.menu a {
    color: #999;
    text-transform: uppercase;
    font: bold 25px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

.menu :hover {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)); */
    color: rgb(7, 36, 141);
}

.titulo {
    font-family: "Comic Sans MS", sans-serif;
    color: rgb(14, 16, 25);
    border-top: 5px solid #FFF;
    border-bottom: 5px solid #FFF;
    padding-bottom: 3px;
    font-size: 50px;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.menu img {
    width: 7%;
    height: 7%;
}

.card {
    width: 350px;
    height: 550px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    margin-bottom: auto;
}

.card .face {
    position: absolute;
    width: 350px;
    height: 420px;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .9s;
    padding-bottom: 20px;

}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    width: 100%;
    height: 100%;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #191b42;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .button {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back h3 {
    font-size: 30px;
    ;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 2px;
    font-size: 15px;
    ;
    padding: 10px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.h3 {
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 7px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.button {
    border: 2px solid rgb(202, 23, 23);
    border-radius: 5px;
    box-shadow: 0 0 0.05em rgb(202, 23, 23);
    color: #ffffff;
    background: #000;
    padding: 5px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}


.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 90%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
   
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 40px;
 /* float: right;
 width: auto; */
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 10px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

.filtro{
  display: none;
}