/* HEADER */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.menu {
  width: 100%;
  padding: 15px 0 0 0;
  list-style: none;
  background: #111;
  text-align: center;
  background: -moz-linear-gradient(#444, #111);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #444));
  background: -webkit-linear-gradient(#444, #111);
  background: -o-linear-gradient(#444, #111);
  background: -ms-linear-gradient(#444, #111);
  background: linear-gradient(#444, #111);
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: 0 2px 1px #9c9c9c;
  -webkit-box-shadow: 0 2px 1px #9c9c9c;
  box-shadow: 0 2px 1px #9c9c9c;
  display: inline-block;
}

.menu li {
  display: inline-block;
  width: 30%;
  padding: auto;
  padding: 0 0 10px 0;
  /* position: relative; */
}

ul {
  width: 500px;
  padding: 0 0 10px 0;
  position: relative;
}

.menu a {
  color: #999;
  text-transform: uppercase;
  font: bold 25px/25px Arial, Helvetica;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
}

.menu :hover {
  /* background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)); */
  color: rgb(7, 36, 141);
}
.menu img {
  width: 7%;
  height: 7%;
}
.banner {
  background-color: #080303;
}

.menu2 {
  background-color: #000000;
}

.menu1{
  list-style: none;
  padding: 2px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100%;
  height: 75px;
  max-width: 1000px;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;
  background: rgb(8, 8, 8);
background: radial-gradient(circle, rgb(55, 55, 56) 14%, rgb(85, 83, 84) 93%);
  
}

.menu1 li a{
  text-decoration: none;
  color: black;
  padding: 20px;
  display: block;
}

.menu1 li{
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.navbar ul li a {
  text-decoration: none;
  color: rgb(75, 75, 75);
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgb(82, 82, 82);
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}




.cover {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.card-btn:hover span {
  width: 100%;
}

.card-btn:hover {
  border: none;
}

/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: rgb(25, 25, 25);
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: rgb(11, 11, 11);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
a{

  text-decoration: none;
  color: rgb(0, 0, 0);
}
.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: rgb(23, 22, 22);
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  color: white;
}

.product{
  background-color: #000;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.precio {
  font-weight: 900;
  font-size: 19px;
  color: rgb(177, 61, 61);
}

.precio-anterior {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(21, 20, 20) 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}


.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 90%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
   
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 40px;
 /* float: right;
 width: auto; */
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 10px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

.filtro{
  display: none;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #ffffff;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #721717;
	margin: 20px 0;
}



.category_item .category_list{
	display:inline-block;
	width: 100%;
	padding: 15px;
  margin: 20px;
	margin-bottom: 10px;
	background: #080303;
justify-content: center;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

.store-wrapper ul li {
  display: inline-block;
  justify-content: center;
}